body {
  font-family: Arial, sans-serif;
  background-color: #e4f0d0; /* цвет фона по вкусу */
  padding: 20px;
}
.form-group {
  margin-bottom: 10px;
}
select,
input[type='number'] {
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
}
button {
  padding: 10px 20px;
  background-color: #4caf50; /* или другой зелёный */
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.total-result {
  margin-top: 20px;
  text-align: center;
}

.cost-m3 {
  font-size: 10px;
}
